/* CSS for website */
a.forkme  {
 width: 149px;
 height: 149px;
 display: block;
 float: right;
 background-image: url('forkme.png');
}


._nobtn {
    border: 1px solid transparent;    
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
}

a._btn {
    background: linear-gradient(#fcfcfc,#ededed);
    border: 1px solid #c9c9c9;
    color: #333;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-decoration: none;
    text-shadow: none;
    cursor: pointer;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 3px;
}

a._btn:hover {
    background: linear-gradient(#fcfcfc,#e3e3e3);
    border-color: #c9c9c9;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: 0;
    text-decoration: none;
}

a._btn._btn-success {
    background: linear-gradient(#5cb85c,#449d44);
    border-color: #3d8b3d;
    color: #fff;
}

a._btn._btn-success:hover {
    background: linear-gradient(#5cb85c,#3d8b3d);
    border-color: #357935;
}